@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Our Mission</h2>
                    <p class="card-text">Our mission is to provide the best quality of service to our customers.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Our Vision</h2>
                    <p class="card-text">Our vision is to be the best company in the world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">Our Values</h2>
                    <p class="card-text">Our values are to provide the best quality of service to our customers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
